################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/FootnoteCrop.WPF/bin/Debug
/FootnoteCrop.WPF/obj/x86/Debug
